.person-card {
  align-items: center;
  justify-content: center;


  margin-bottom: 50px;

  .MuiTypography-root {
    display: inline-block;
  }

  &__work.MuiTypography-root {
    margin-bottom: 12px;
  }

  &__link.MuiTypography-root {
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 3px;
    line-height: 100%;
  }

  @media (min-width: $--md) {
    &__work.MuiTypography-root {
      margin-bottom: 16px;
    }


  }
}