
.menu-modal__icon.MuiSvgIcon-root {
  font-size: 44px;
  @media (min-width: 1024px) {
    font-size: 58px;
  }
}

.menu-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100%;

  &__menu {
    padding: 62px 30px;
    @media (min-width: $--md) {
      padding: 62px 40px;
    }
    @media (min-width: $--lg) {
      padding: 127px 40px
    }

    & .link-wrapper:last-of-type {
      margin-bottom: 0
    }
  }


  .menu-modal__close.MuiButtonBase-root {
    position: absolute;
    top: 20px;
    left: 18px;
    @media (min-width: $--sm) {
      left: 24px;
    }
    @media (min-width: $--md) {
      left: 80px;
    }
    @media (min-width: $--lg) {
      left: 112px;
    }
  }
}