html {
  background-color: #1c1c1c;
}


.tracks {
  padding: 30px 0;
  width: 100%;
  flex-wrap: nowrap;
  flex: 1;
  overflow: hidden;
  min-height: 0;

  &__back {
    object-position: left;
  }

  @media (min-width: $--md) {
    padding: 28px 0;
  }
}

.tracks-item {
  margin-bottom: 15px;
  @media (min-width: $--laptop) {
    margin-bottom: 60px;
  }

  &:last-of-type {
    margin-bottom: 60px;
  }
}

.tracks-item__about-title {
  @media (max-width: $--md) {
    max-width: 180px;
  }
}


.audio-player {

  &__black-box {
    background: #1D1A1A;
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100vw;
    z-index: -1;
  }

  &__image {
    //width: 130px;
    //height: 130px;
    width: 60px;
    height: 60px;
    position: relative;
    top: -30px;
    @media (min-width: $--sm) {
      width: 70px;
      height: 70px;
      top: -35px;
    }
    @media (min-width: $--md) {
      width: 110px;
      height: 110px;
      top: -55px;
    }

    //@media (min-width: $--lg) {
    //  width: 130px;
    //  height: 130px;
    //  top: -65px;
    //}
    @media (min-width: $--laptop) {
      width: 130px;
      height: 130px;
      top: -65px;
    }
  }

  &__input-container {

    margin-left: 18px;
    @media (min-width: $--sm) {
      margin-left: 35px;
    }
    @media (min-width: $--md) {
      margin-left: 75px;
    }
    @media (min-width: $--laptop) {
      margin-left: 100px;
    }
  }

  &__text {
    margin: 10px 0 5px;
    justify-content: space-between
  }

  &__play-button.MuiButtonBase-root {
    margin: 0 32px;
  }

  &__links {
    justify-content: space-around;
    // margin-top: 35px;
    //max-width: 360px;
    min-height: 32px;
    margin-top: 35px;

    a {
      display: inline-block;
      line-height: 0;
    }

    @media (min-width: $--md) {
      max-width: 250px;
      margin-top: 50px;
      justify-content: space-between;
    }
    @media (min-width: $--laptop) {
      max-width: 360px;
      margin-top: 50px;
      justify-content: space-between;
    }

    @media (min-width: $--lg) {
      margin-top: 0px;
      min-height: 44px;
    }

  }

  &__input {
    -webkit-appearance: none;
    height: 3px;
    background: #E5CFCF;
    border-radius: 5px;

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      height: 12px;
      width: 12px;
      border-radius: 50%;
      background: #F1EDED;
      border: 2px solid #DC4343;
      cursor: ew-resize;
    }

    &::-webkit-slider-runnable-track {
      -webkit-appearance: none;
      box-shadow: none;
      border: none;
      background: transparent;
    }


  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spinner {
  animation: spin 2s linear infinite;
}