@import 'normalize.css';

$--min-height: 600px;
html {
  background-color: #000;
  position: relative;
}
html,
body {

  max-width: 100vw;
  max-height: 100vh;
  color: $--content-main;
  min-height: $--min-height;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-height: 100vh;

}


.layout {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  //max-width: 1696px;
  max-width: 1920px;
  padding: 20px 18px;
  overflow: hidden;
  box-sizing: border-box;
  margin: 0 auto;
  max-height: 100svh;
  min-height: $--min-height;

  @media (min-width: $--sm) {
    padding: 20px 24px;
  }
  @media (min-width: $--md) {
    padding: 20px 80px;
  }
  @media (min-width: $--laptop) {
    padding: 20px 112px;
  }
}

.layout__content {
  //border: 1px solid red;
  flex-grow: 1;
  display: flex;
  overflow: auto;
  max-height: 100%;
  height: 100%;
  min-height: 1px
}

.home {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  overflow: hidden;

  &__title.MuiTypography-root {
    max-width: 344px;
    text-align: right;

    line-height: 150%;
    letter-spacing: .23em;
    text-decoration: underline;

    text-decoration-thickness: 1px;
    text-underline-offset: 3px;


    margin-bottom: 89px;
    display: inline-block;
    @media (min-width: $--lg) {
      margin-bottom: 60px;
    }
  }
}

.header-404.MuiTypography-root {
  font-size: 128px;
  letter-spacing: 0.22em;
  line-height: 100%;
  margin-bottom: 50px;
  @media (min-width: $--md) {
    font-size: 240px;
  }
}