.footer {
  width: 100%;
  display: flex;
  flex-direction: column;

  &__link {
    display: flex;
    justify-content: space-between;
    max-width: 691px;
    margin-bottom: 22px;
    @media (max-width: $--laptop) {
      max-width: 563px;
    }

    @media (min-width: $--lg) {
      margin-bottom: 30px;
    }
  }

  &__privacy-policy {
    display: none;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 3px;
    @media (min-width: $--lg) {
      display: block;
    }
  }

  &__mail {
    text-decoration: underline;

    text-decoration-thickness: 1px;
    text-underline-offset: 3px
  }
}