$--windowWidth: 1200px;
html {
  background-color: #161313;
}


.poems {
  display: flex;
  width: 100%;

  gap: 80px;

  padding: 40px 0;
  overflow: hidden;

  @media (min-width: $--laptop) {
    padding: 80px 0;
  }

  &__back-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    @media (min-width: $--lg) {
      display: none;
    }
  }

  &__block {
    width: 100%;
    display: flex;
    justify-content: center;
    // border: 1px dotted blue;
  }


  &__list {
    width: 100%;
    max-width: 420px;
    display: flex;
    flex-direction: column;
    overflow: auto;
    gap: 70px;
    height: 100%;
    @media (min-width: $--laptop) {
      gap: 100px;
      max-width: 612px;
    }

  }

  &__item {
    border: 1px solid;
    border-radius: 10px;
    //padding: 40px;
    box-sizing: border-box;
    text-align: center;
    background-size: cover;
    min-height: 76px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 20px;



    & .MuiTypography-root {
      color: #F1EDED;
    }

    &:hover {
      .MuiTypography-root {
        color: #ffcdcd
      }
    }

    &:active {
      .MuiTypography-root {
        color: #454545
      }
    }

    @media (min-width: $--laptop) {
      min-height: 106px;
    }

  }

  &__active {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__text-block {
    // overflow: auto;
    width: 100%;
    //height: 100%;
    margin: auto 0;
    min-height: 1px;
    display: flex;
    flex-direction: column;
  }

  &__text.MuiTypography-root {
    text-align: center;
    //height: 100%;
    //margin: auto 0;
    //display: block;
    overflow: auto;

    @media (min-width: $--md) {
      margin-right: 20px;
    }
  }

  &__active-title.MuiTypography-root {
    margin-bottom: 20px;
    text-align: center;
    font-weight: 700;

    @media (min-width: $--md) {
      margin-right: 20px;
    }
  }

  &__buttons {
    display: flex;
    width: 100%;

    //& .MuiButtonBase-root:last-of-type {
    //  margin-left: auto;
    //}

    .MuiTypography-root {
      text-decoration: none;
    }
  }

  &__button-next.MuiButtonBase-root {
    margin-left: auto;
  }


  &__back-icon {
    width: 100%;
    margin-bottom: 0px;


    @media (min-width: $--md) {
      margin-bottom: 35px;
    }
  }

  @media (min-width: $--windowWidth) {
    &__back-icon {
      display: none;
    }
    &__buttons {
      display: none;
    }
  }
}