$--windowWidth: 1200px;

.poems {
  display: flex;
  width: 100%;

  gap: 80px;

  padding: 40px 0;
  overflow: hidden;

  @media (min-width: $--md) {
    padding: 80px 0;
  }


  &__block {
    width: 100%;
    display: flex;
    justify-content: center;
    // border: 1px dotted blue;
  }


  &__list {
    width: 100%;
    max-width: 612px;
    display: flex;
    flex-direction: column;
    overflow: auto;
    gap: 100px;
    height: 100%;
  }

  &__item {
    border: 1px solid;
    border-radius: 10px;
    padding: 40px;
    box-sizing: border-box;
    text-align: center;
    background-size: cover;
  }

  &__active {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__text-block {
    overflow: auto;
    //width: 100%;
    height: 100%;

  }

  &__text.MuiTypography-root {
    margin-right: 20px;
  }

  &__active-title.MuiTypography-root {
    margin-bottom: 20px;
    margin-right: 20px;
  }

  &__buttons {
    display: flex;
    width: 100%;

    & .MuiButtonBase-root:last-of-type {
      margin-left: auto;
    }

    .MuiTypography-root {
      text-decoration: none;
    }
  }

  &__back-icon {
    width: 100%;
    margin-bottom: 35px;
  }

  @media (min-width: $--windowWidth) {
    &__back-icon {
      display: none;
    }
    &__buttons {
      display: none;
    }
  }
}