.poems {
  display: flex;
  width: 100%;

  gap: 80px;
  padding: 86px 0;
  overflow: hidden;

  &__block-1 {
    width: 50%;
    border: 1px solid red;
    text-align: center;
  }

  &__block-2 {
    width: 50%;
    border: 1px solid red;
    text-align: center;
  }

  &__list {
    width: 45%;
    max-width: 612px;
    display: flex;
    flex-direction: column;
    overflow: auto;
    gap: 100px
  }

  &__item {
    border: 1px solid;
    border-radius: 10px;
    padding: 40px;
    box-sizing: border-box;
    text-align: center;
    background-size: cover;
  }

  &__active {
    width: 55%;
    overflow: auto;
    text-align: center;
    background-size: cover;
  }

  &__active-title.MuiTypography-root {
    margin-bottom: 20px;
  }
}